.myRides{
    background: url("E:/carpoolingui/src/Images/img4.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    height: 80%;
    background-position: bottom;
    font-family: Arial;
}


.offeredRidesTitle{
    display: table;
    color: white;
    background-color: #FFAC19;
    padding: 10px 50px;
    margin:20px;
    border-radius: 5px;
    font-size: 20px;
}


.bookedRidesTitle{
    display: table;
    color: white;
    background-color: #9319FF;
    padding: 10px 50px;
    margin:20px;
    border-radius: 5px;
    font-size: 20px;
}

.circleicon{
    color: #9319FF;
    font-size: 25px;
    padding-left: 50px;
}

.poiicon{
    color: #9319FF;
    font-size: 25px;
}

.circle{
    font-size: 15px;
    color: #E0E0E0;
    padding-left:5px;
}

.cards{
    padding: 20px;
    box-shadow: 1px 10px 8px 1px #EBEBEB;
    border-top: 1px outset;
    border-radius: 10px;
    margin:0 25px;
    background-color: white;
    margin-bottom: 5px;
}