.booking
    font-family: Arial

.matches
    padding: 40px
    font-size: 40px
    color: #9319FF
    font-family: Khula
    display: flex

.card
    padding: 20px
    box-shadow: 1px 10px 8px 1px #EBEBEB
    border-top: 1px outset
    border-radius: 5px
    display: inline-block
    max-width: fit-content
    min-width: 400px
    margin-left: 25px
    margin-right: 25px
    background-color: white

.name
    font-size: 40px

.name img
    width: 50px
    height: 50px
    float: right

.card span
    display: inline-block

.names td
    color: gray
    font-size: 15px

.values td
    padding: 10px 0
    font-size: 20px

.details
    width: 100%
